# Entorno virtual
venv/

# Variables de entorno (credenciales 🔥)
.env

# Archivos de Python
pycache/
*.pyc

# Base de datos
db.sqlite3

# Backups
*.sql

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/
